<!DOCTYPE html>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta charset='utf-8' />
  <meta content='width=320,initial-scale=1' name='viewport' />
  <title>{{ title }} &mdash; dywypi.org</title>
  <meta content='Jyrki Pulliainen' name='author' />
  {% block meta %}{% endblock %}
  <link href='/css/base.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' link='link' rel='stylesheet' type='text/css' />
  {% block styles %}{% endblock %}
</head>
<body>
  <header class='cf'>
    <h1>
      <a href='/'>dywypi.org</a>
    </h1>
  </header>
  <section class='cf' id='main'>
    {% block content %}
    {% endblock %}
  </section>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  <script type='text/javascript'>
    //<![CDATA[
      !window.jQuery && document.write(
        '<script src="/js/jquery-1.5.2.min.js"><\/script>');
    //]]>
  </script>
  <script src='/js/modernizr-1.7.min.js'></script>
  <script language='javascript' src='/js/mailaddr.js'></script>
  <footer>
    <p>
      Copyright 2011 by Jyrki Pulliainen
    </p>
    <p>
      The content is licensed under a <a rel="license"
      href="http://creativecommons.org/licenses/by/3.0/">Creative
      Commons Attribution 3.0 Unported License</a>.
    </p>
  </footer>
</body>
